.inline-button
{
  color: white; 
  border: solid #FFF 1px;
  padding: 5px; 
  border-radius: 50%;
  box-shadow: 1px 0px 0px;
}
.metrouicss table
{
  border-top: 1px #FFF solid;
  border-left: 1px #FFF solid;
}
.metrouicss table tbody tr td
{
  border: 0px;
}
.training-table
{
  color: #FFF;
}
.metrouicss 
h3
{
  float: left;
  margin-bottom: 0px;
}
.icon-film
{
  padding-bottom: 15px;
}
.icon-plus-2, .icon-minus-2, .icon-film
{
  top: -2px;
}

